@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 197.42 100% 69.61%;
  }

  /* .dark {} */
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .heading {
    @apply leading-[1.1] font-semibold;
  }

  .h1 {
    @apply text-[40px] xl:text-[80px];
  }

  .h2 {
    @apply text-[36px] xl:text-[48px];
  }

  .h3 {
    @apply text-[20px] xl:text-[24px];
  }

  .text-outline {
    -webkit-text-stroke: 1px #fff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px hsl(var(--accent));
  }
}
